@mixin session {
  padding: 12px;
  width: 50%;
  margin: 10px auto;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #004b8cb9;
  }
}
.loginCard {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: #fff;
  border-radius: 22px;

  .google {
    @include session();
    color: #fff;
    background-color: #4285f4;
  }

  .guest {
    @include session();
    color: #004a8c;
    border: 2px solid #004a8c;
  }
}
