@mixin icons {
  font-size: 25px;
  color: #004a8c;
  cursor: pointer;
}

.general {
  width: 90%;
  margin: auto;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.containerCandy {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  gap: 10px;
  overflow-y: auto;
  max-height: 95vh;

  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #004a8c;
  }

  .card {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .figure {
      width: 220px;
      height: 300px;
      object-fit: contain;
      transition: transform 0.2s ease-out;

      &:hover {
        cursor: pointer;
      }
    }

    .description {
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.containerTotal {
  width: 25%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 10px auto;
  }

  .total {
    color: #004a8c;
  }
  .continue {
    background-color: #b20237;
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    border: none;
    width: 90%;
    margin: auto;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(153, 14, 14, 0.836);
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
